<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Selenium Tests" verbose="1">
    <!-- Report Directory Configuration -->
    <parameter name="outputDir" value="test-output/html"/>
    
    <listeners>
        <listener class-name="org.uncommons.reportng.HTMLReporter"/>
        <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
    </listeners>
    <test name="Web Tests">
        <classes>
            <class name="sampleTest.testFiles.WebTests"/>
        </classes>
    </test>
</suite>